.ant-popover-inner {
  padding: 0 !important;
}
.ant-popconfirm {
  width: 250px;
}
.ant-popconfirm .ant-popover-inner {
  padding: 20px 10px !important;
}
.ant-popconfirm-buttons {
  padding-top: 10px;
}
.ant-popconfirm-buttons button span {
  font-weight: bold;
  font-size: 12px;
}
