@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Nunito+Sans:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;400;500;600;700;800&display=swap");
html,
body {
  font-family: "Nunito Sans" !important;
  /* font-family: "Hahmlet" !important; */
}
.eng {
  font-family: "Nunito Sans" !important;
}
.ant-popover-inner {
  padding: 0 !important;
}
.ant-popconfirm {
  width: 250px;
}
.ant-popconfirm .ant-popover-inner {
  padding: 20px 10px !important;
}
.ant-popconfirm-buttons {
  padding-top: 10px;
}
.ant-popconfirm-buttons button span {
  font-weight: bold;
  font-size: 12px;
}
.arrowDown {
  animation: arrowDownAni 0.8s 1s infinite linear alternate;
}
/* /position */
.ant-modal {
  width: 900px !important;
}
.ant-modal-content {
  padding: 0 !important;
  border-radius: 20px !important;
  overflow: hidden;
}
.ant-modal-close {
  display: none;
}
.ant-modal-header {
  overflow: hidden;
}
.ant-modal-footer {
  overflow: hidden;
}

@keyframes arrowDownAni {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(3px);
  }
}
